<form action="{:sysuri()}" method="post" data-auto="true" class="layui-form-pane layui-tab layui-form layui-card">
    <div class="layui-card-body padding-left-40">
        <div class="layui-form-item">
            <label class="layui-form-label color-green">管理账号</label>
            <div class="layui-input-block">
                <select class="layui-select" name="account_id">
                    {foreach $account as $k=>$v}
                    {if isset($vo.account_id) and $vo.account_id eq $v.account_id}
                    <option selected value="{$v.account_id}">{$v.title}</option>
                    {else}
                    <option value="{$v.account_id}">{$v.title}</option>
                    {/if}{/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label color-green">频道ID</label>
            <div class="layui-input-block">
                <input name="channel_id" maxlength="20" value="{$vo.channel_id|default=''}" placeholder="请输入频道ID"  type="number" required class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label color-green">频道标题</label>
            <div class="layui-input-block">
                <input name="channel_title" maxlength="16" value="{$vo.channel_title|default=''}" placeholder="请输入频道标题" required class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label color-green">频道名</label>
            <div class="layui-input-block">
                <input name="channel_name" maxlength="32" value="{$vo.channel_name|default=''}" placeholder="请输入频道名" required id="channel_name" class="layui-input">
                <div class="layui-input-split layui-input-suffix padding-top-5" style="cursor: pointer;text-align: center;">
                    <i class="layui-icon layui-icon-search" lay-affix="channel_name"></i>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label color-green">频道链接</label>
            <div class="layui-input-block">
                <input name="channel_link" maxlength="32" value="{$vo.channel_link|default=''}" placeholder="请输入账号链接" required class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label color-green">监测类型</label>
            <div class="layui-input-block">
                <select class="layui-select" name="channel_type">
                    {foreach ['获取最新消息：限制数量', '获取历史消息：历史消息'] as $k=>$v}
                    {if isset($vo.channel_type) and $vo.channel_type eq $k}
                    <option selected value="{$k}">{$v}</option>
                    {else}
                    <option value="{$k}">{$v}</option>
                    {/if}{/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label color-green">限制数量</label>
            <div class="layui-input-block">
                <input name="limit_number" maxlength="10" value="{$vo.limit_number|default='1'}" placeholder="请输入限制数量" type="number" required class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label color-green">历史消息ID</label>
            <div class="layui-input-block">
                <input name="last_message_id" maxlength="20" value="{$vo.last_message_id|default='100'}" placeholder="请输入历史消息ID" type="number" required class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label color-green">频道备注</label>
            <div class="layui-input-block">
                <input name="remark" value="{$vo.remark|default=''}" placeholder="请输入频道备注" class="layui-input">
            </div>
        </div>
    </div>

    <div class="hr-line-dashed"></div>
    {notempty name='vo.id'}<input type='hidden' value='{$vo.id}' name='id'>{/notempty}

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
</form>
