<form action="{:sysuri()}" autocomplete="off" class="layui-form layui-form-pane form-search" method="get" onsubmit="return false">
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">所属频道</label>
        <div class="layui-input-inline">
            <select class="layui-select" name="channel_id">
                <option value=''>-- 全部 --</option>
                {foreach $channel as $k=>$v}
                {if isset($get.channel_id) and $get.channel_id eq $k.''}
                <option selected value="{$k}">{$v}</option>
                {else}
                <option value="{$k}">{$v}</option>
                {/if}{/foreach}
            </select>
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">内容标题</label>
        <label class="layui-input-inline">
            <input class="layui-input" name="caption" placeholder="请输入内容标题" value="{$get.caption|default=''}">
        </label>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">发布状态</label>
        <div class="layui-input-inline">
            <select class="layui-select" name="status">
                <option value=''>-- 全部 --</option>
                {foreach ['未发布内容', '已发布内容'] as $k=>$v}
                {if isset($get.status) and $get.status eq $k.''}
                <option selected value="{$k}">{$v}</option>
                {else}
                <option value="{$k}">{$v}</option>
                {/if}{/foreach}
            </select>
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">创建时间</label>
        <div class="layui-input-inline">
            <input class="layui-input" data-date-range name="create_at" placeholder="请选择创建时间" value="{$get.create_at|default=''}">
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
    </div>
</form>
