{extend name='table'}

{block name="button"}

<!--{if auth("remove")}-->
<a data-confirm="确定永久删除吗？" data-table-id="ReleaseTable" data-action='{:url("remove")}' data-rule="id#{id}" class='layui-btn layui-btn-sm layui-btn-primary'>批量删除</a>
<!--{/if}-->

{/block}

{block name="content"}
<div class="layui-tab layui-tab-card">
    <div class="layui-tab-content">
        {include file='release/index_search'}
        <table id="ReleaseTable" data-url="{:request()->url()}" data-target-search="form.form-search"></table>
    </div>
</div>

<script>
    $(function () {
        let $table = $('#ReleaseTable').layTable({
            even: true, height: 'full',
            sort: {field: 'status asc,id asc', type: 'desc'},
            cols: [[
                {field: 'id', hide: true},
                {checkbox: true, fixed: true},
                {field: 'channel', title: '所属频道', width: 150, align: 'center',templet: '<div>{{d.channel.channel_title||""}}</div>'},
                {field: 'caption', title: '内容描述', minWidth: 200, align: 'center'},
                {field: 'status', title: '发布', width: 80, align: 'center', sort: true, templet:function (d) {
                        return d.status ? '<i class="layui-icon layui-icon-success color-red" >' : '';
                    }},
                {field: 'update_at', title: '更新时间', align: 'center', width: 170, sort: true},
                {field: 'create_at', title: '创建时间', align: 'center', width: 170, sort: true},
                {toolbar: '#toolbar', title: '操作面板', align: 'center', width: 200, fixed: 'right'}
            ]]
        });
    });
</script>

<script type="text/html" id="toolbar">
    <!-- {if auth("release")} -->
    <a class="layui-btn layui-btn-sm" data-action='{:url("release")}?id={{d.id}}'>发 布</a>
    <!--{/if}-->
    <!-- {if auth("edit")} -->
    <a class="layui-btn layui-btn-sm" data-open='{:url("edit")}?id={{d.id}}'>编 辑</a>
    <!--{/if}-->
    <!--{if auth("remove")}-->
    <a class="layui-btn layui-btn-sm layui-btn-danger" data-confirm="确定要永久删除吗？" data-action="{:url('remove')}" data-value="id#{{d.id}}">删 除</a>
    <!--{/if}-->

</script>
{/block}
