{extend name='main'}

{block name="button"}
<!--{if auth('params')}-->
<a class="layui-btn layui-btn-sm layui-btn-primary" data-modal="{:url('params')}">{:lang('修改参数')}</a>
<!--{/if}-->
{/block}

{block name="content"}
<div class="layui-card padding-20 shadow">
    <div class="layui-card-body">
        <div class="layui-form-item">
            <div class="help-label"><b>Bot name</b>机器名</div>
            <label class="relative block">
                <input readonly value="{$data.bot_name|default=''}" placeholder="请设置Bot name" class="layui-input layui-bg-gray">
                <a data-copy="{$data.bot_name|default=''}" class="layui-icon layui-icon-release input-right-icon"></a>
            </label>
            <p class="help-block">请填写Bot name, 全局使用。</p>
        </div>
        <div class="layui-form-item">
            <div class="help-label"><b>Bot Token</b>机器人Token</div>
            <label class="relative block">
                <input readonly value="{$data.bot_token|default=''}" placeholder="请设置机器人Token" class="layui-input layui-bg-gray">
                <a data-copy="{$data.bot_token|default=''}" class="layui-icon layui-icon-release input-right-icon"></a>
            </label>
            <p class="help-block">请填写Bot Token，获取文件地址需要</p>
        </div>
        <div class="layui-form-item">
            <div class="help-label"><b>媒体转发频道</b>Channel</div>
            <label class="relative block">
                <input readonly value="{$data.forward_channel|default=''}" placeholder="请设置媒体转发频道" class="layui-input layui-bg-gray">
                <a data-copy="{$data.forward_channel|default=''}" class="layui-icon layui-icon-release input-right-icon"></a>
            </label>
            <p class="help-block">获取频道历史媒体数据时，无法直接发布到自己频道，需要利用MadelineProtoApi转发自己频道后获取最新的媒体信息数据</p>
        </div>
    </div>
</div>
<!--{/if}-->
{/block}