<form action="{:sysuri()}" method="post" data-auto="true" class="layui-form-pane layui-tab layui-form layui-card">
    <div class="layui-card-body padding-left-40">
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label color-green">内容标题</label>
            <div class="layui-input-block">
                <textarea name="caption" placeholder="请输入内容标题" class="layui-textarea">{$vo.caption|default=""}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label color-green">文件媒体</label>
            <div class="layui-input-block">
                <input value="{$vo.media|default=''}" readonly placeholder="请输入文件媒体" class="layui-input layui-bg-gray">
            </div>
        </div>
    </div>

    <div class="hr-line-dashed"></div>
    {notempty name='vo.id'}<input type='hidden' value='{$vo.id}' name='id'>{/notempty}

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
</form>
