<form action="{:sysuri()}" class="layui-form-pane layui-form layui-card" data-auto="true" method="post">
    <div class="layui-card-body padding-left-40">
        <div class="layui-form-item">
            <label class="layui-form-label color-green">素材推送频道</label>
            <div class="layui-input-block">
                <input class="layui-input" type="number" name="channel_forward" value='{$vo.channel_forward|default=""}'>
            </div>
        </div>
    </div>
    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" data-close type='button' data-confirm="确定要取消编辑吗？">取消编辑</button>
    </div>
</form>