<form action="{:sysuri()}" autocomplete="off" class="layui-form layui-form-pane form-search" method="get" onsubmit="return false">
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">资源频道</label>
        <div class="layui-input-inline">
            <select class="layui-select" name="channel_id">
                <option value=''>-- 全部 --</option>
                {foreach $source as $k=>$v}
                {if isset($get.channel_id) and $get.channel_id eq $k.''}
                <option selected value="{$k}">{$v}</option>
                {else}
                <option value="{$k}">{$v}</option>
                {/if}{/foreach}
            </select>
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">内容标题</label>
        <label class="layui-input-inline">
            <input class="layui-input" name="caption" placeholder="请输入内容标题" value="{$get.caption|default=''}">
        </label>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">组合消息ID</label>
        <label class="layui-input-inline">
            <input class="layui-input" name="grouped_id" placeholder="请输入组合消息ID" value="{$get.grouped_id|default=''}">
        </label>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">消息ID</label>
        <label class="layui-input-inline">
            <input class="layui-input" name="message_id" placeholder="请输入消息ID" value="{$get.message_id|default=''}">
        </label>
    </div>


    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">刷新状态</label>
        <div class="layui-input-inline">
            <select class="layui-select" name="forward">
                <option value=''>-- 全部 --</option>
                {foreach ['未刷新内容', '已刷新内容'] as $k=>$v}
                {if isset($get.forward) and $get.forward eq $k.''}
                <option selected value="{$k}">{$v}</option>
                {else}
                <option value="{$k}">{$v}</option>
                {/if}{/foreach}
            </select>
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
    </div>
</form>
